body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: green;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}


.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}


.box {
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    width: 30vw; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 20vh;
}


.box:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.box h3 {
    font-weight: bold;
    color: green; 
}


.box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}